
*{
    padding: 3px;
}


/* NAV */

.header {
    background-color: #581845;
}
.header__nav {
        display: flex;
        flex-direction: column;
        text-align: end;
        padding: 3px; 
        box-sizing: border-box;    
}
.header__nav__ul__li {
    background-color: #855276;
    display: inline-block;
    border: 3px solid #87264b;
    padding: 5px;
    font-size: 15px;
    margin: 10px;
}
a:link {
  color: #ffc0cb;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: #ffc0cb;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: #f5f5f5;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: #385f7e;
  background-color: transparent;
  text-decoration: underline;
}


.title {
    font-family: 'Amatic SC', cursive;
    font-size: 50px;
    text-align: center;
    text-decoration: underline #ffc0cb;
    height: 10px;
    padding-bottom: 30px;
}

/*GRID*/

.recetasdulces__gridcontainer{
    display: grid;
    grid-template-rows: fit-content(1fr) fit-content(1fr) fit-content(1fr);
    grid-template-columns: fit-content(1fr) fit-content(1fr) fit-content(1fr);
    grid-gap: 25px;
}

/*ESTILOS GENERALES*/

.div_recipe{
    background-color: #ffc0cb;
    border-radius: 1em;
    display: inline-block;
    text-align: center;
    width: 100%;
    height: auto;
}
.recipe_title{
    text-align:center ;
    font-size: 25px;
    font-family: 'Pattaya', sans-serif;
}
.recipe_art img {
    width: 30rem;
    max-height: 250px;
    height: fit-content;
    padding: 1rem;
    object-fit: scale-down;
    object-position: top;
    border-radius: 1em;
}

.recipe_section{
    background-color: #855276;
    border-radius: 1em;
    padding: 20px;
    margin: 5px;
}
.recipe_ing_title{
    font-family: 'Josefin Slab', serif;
    text-decoration: underline wavy #a8747d;
    font-weight: 700;
    text-align: center;
    font-size: 20px;
    padding-bottom: 0px;
    height: 10px;
}
.recipe_ing{
    font-family: 'Patrick Hand SC', cursive;
    text-align: center;
    margin: 3px;
    padding-top: 0px;
    margin-bottom: 0px;
    list-style: none;
}
.recipe_ing li{
    font-size: 16px;
    font-weight: 500;
    color: #ECF0F1;
}
.recipe_prep_title{
    font-family: 'Josefin Slab', serif;
    text-decoration: underline wavy #a8747d;
    font-weight: 700;
    text-align: center;
    font-size: 19px;
    padding-top: 0px;
    margin-bottom: 0px;
    box-sizing: 50px;
}
.recipe_prep{
    font-family: 'Patrick Hand SC', cursive;
    color: #ECF0F1;
    line-height : 20px;
    font-weight: 400;
    text-align: center;
    margin: 3px;
    padding-top: 0px;
    font-size: 15px;
}



/* UBICACIONES EN GRID*/

#turron{
    grid-column: 1/2;
    grid-row: 1/2;
}

#pastafrola{
    grid-column: 2/3;
    grid-row: 1/2;
}

#budin{
    grid-column: 3/4;
    grid-row: 1/2;
}